{% extends 'shop/basic.html' %}
{% block title %} Contact page {% endblock %}
{% block body %} 





<main class="container my-4" id="cartList">
	<!-- Featured Products -->
	<div class="row">
		<div class="col-md-9">
			<h3 class="my-4 border-bottom pb-1"></h3>
			<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Qty</th>
				<th>Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>
					<img src="" width="50" />
					<p><a href=""></a></p>
				</td>
				<td>
					
				</td>
				<td></td>
				<td></td>
			</tr>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<th>Total</th>
				<th></th>
			</tr>
			
			<tr>
				<td colspan="4" align="right">
					
				</td>
			</tr>
			
		</tfoot>
	</table>
		</div>
		<div class="col-md-3">
			<h3 class="my-4 border-bottom pb-1">Selected Address</h3>
			<div class="card">
				<div class="card-body">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</main>

© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

 
{% endblock %}