{% extends 'shop/basic.html' %}
{% block title %} Contact page {% endblock %}
{% block body %} 
<div class="container my-4">


    <h4>Contact Me!</h4>
    <form action="/shop/contact/" method="post">{% csrf_token %}
        <div class="form-group">
          <label for="name"> Enter Your Name</label>
          <input type="name" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
       
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email"  name="email" placeholder="Enter Your Email">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
          </div>
         
          
        <div class="form-group">
          <label for="desc">Enter Your Feedback</label>
          <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
      

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
 
{% endblock %}

