{% extends 'shop/basic.html' %}
{% block title %} about page {% endblock %}
{% block body %} 

<style>
   .container my-4 h5 {
    margin-bottom: 1.5rem;
   }
   .p1{

    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin-left: 0px;
   }
   h5.p2{
    margin-top: 50px;
    margin-bottom: 20px;
   }
</style>



    <!-- Main jumbotron for a primary marketing message or call to action -->
   
      <div class="container my-4">
        <h2 class="p1">PRIVACY POLICY!</h2>





        <h5 class="p2">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h5>
        <p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. 
            When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. 
            Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>
        <h5 class="p2">SECTION 2 - CONSENT</h5>
        <p>How do you get my consent? 
            When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only. 
            If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
            
            How do I withdraw my consent? 
            If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@mishodesigns.com or mailing us at: 
            MISHO 
            Bunder Road, Sewree Mumbai Maharashtra IN 400035</p>
        <h5 class="p2">SECTION 3 - DISCLOSURE</h5>
        <p>
            We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
        </p>
        <h5 class="p2">SECTION 4 - SHOPIFY</h5>
        
            
           <p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you. 
            Your data is stored through Shopify data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall.  </p>
      
      </div>
    </div>
  
   
  

  
  {% endblock %}